
@charset "utf-8";
.subnav {
	background: url(../images/x_line.png) repeat-x 0 0;
	height: 50px;
	padding: 0px 0 0 145px;
}
.subnav li {
	float: left;
	width: 130px;
	text-align: center;
	padding: 17px 0 0 0;
	height: 33px;
}
.subnav li.cur {
	background: #fff;
	border-top: 2px solid #379980;
	height: 31px;
}
.box-1 {
	background: #b2b2b2;
	border-radius: 3px;
	color: #fff;
	padding: 20px 30px;
	line-height: 24px;
	font-family: "微软雅黑";
}
.f-30 {
	font-size: 30px;
}
.f-20 {
	font-size: 20px;
}
.box-2 {
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	padding: 11px 15px;
}
.box-2 img {
	vertical-align: middle;
}
.wx-img {
	background: url(../images/wx_img.png) no-repeat 0 0;
	width: 143px;
	height: 50px;
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;
}
.head-search {
	display: inline;
	float: right;
	margin: 6px 35px 0 0;
*margin-top:-8px;
	width: 297px;
*position:relative;
	height: 22px;
	padding: 3px;
	border: 1px solid #dfdede;
	background-color: #fff;
	transition: box-shadow 0.25s linear 0s;
}
.head-search .s-input {
	float: left;
	width: 270px;
	height: 22px;
	overflow: hidden;
}
.head-search .s-input input {
	padding: 4px 5px;
*padding:2px 5px;
	width: 260px;
	border: 0;
	height: 14px;
	margin: 0;
	vertical-align: top;
}
.head-search .s-select {
	float: left;
	width: 81px;
	height: 22px;
	padding: 0 2px;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	color: #999;
	display: none;
}
.head-search .s-select a {
	color: #999;
}
.head-search .s-select a:hover {
	text-decoration: none;
	color: #999;
}
.head-search .select-hd {
	display: block;
	padding: 4px 0 4px 8px;
	height: 14px;
	background-color: #f9f9f9;
	line-height: 14px;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
}
.head-search .select-hd i {
	position: absolute;
	margin: 5px 0 0 58px;
	width: 7px;
	height: 4px;
	background: url(../images/icon.png) no-repeat -69px -71px;
	overflow: hidden;
}
.head-search .select-bd {
	position: absolute;
	z-index: 2;
	width: 79px;
	margin: -1px -3px 0;
	padding: 3px;
	border: 1px solid #e4e4e4;
	border-top: 0;
	background-color: #fff;
}
.head-search .select-bd li {
	height: 23px;
	padding: 0 3px 0 8px;
	line-height: 23px;
	cursor: pointer;
}
.head-search .select-bd .on, .head-search .select-bd li:hover {
	background-color: #f9f9f9;
}
.head-search .s-button {
	float: left;
	width: 25px;
	height: 22px;
	overflow: hidden;
	border-left: 1px solid #E4E4E4;
}
.head-search .s-button input {
	border: 0;
	margin-left: 3px;
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 1px 0 0 2px;
	background: url(../images/icon.png) no-repeat -58px 1px;
	overflow: hidden;
	cursor: pointer;
}
.search-light {
	border: 1px solid #FFA200;
	box-shadow: 0 0 5px #FFA200;
	transition: box-shadow 0.25s linear 0s;
}
.picbox { 
	position:relative;
}
.picbox .b-option {
	position:absolute;
	bottom:22px;
	right:130px;
	padding:0 22px;
	height:40px;
	line-height:40px;
	background: rgba(0,0,0,.5);
	color:#fff;
}
.fast-nav-wrap {
	position: relative;
	z-index: 98;
}
.on .fast-nav-bd {
	display: block;
}
.fast-nav-hd {
	padding: 0 24px;
	background: #379b81;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #d2d2d2;
}
.fn-t-icon {
	background: url(../images/t_icon.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.fast-nav-hd .fn-t-icon {
	width: 25px;
	height: 26px;
}
.gl-nav .fn-t-icon {
	background-position: 0 -28px;
	width: 20px;
	height: 20px;
	position:relative;
	top:-1px;
	margin-right:4px;
}
.gl-nav {
	color: #1FA48E;
	font-size: 18px;
	line-height: 0px;
}
.gl-nav .gl-nav-txt {
	color:#808080;
	font-size:12px;
	margin-left:35px;
}
.gl-nav .down {
	color:#aa353b;
	font-size:12px;
}
.fast-nav-hd h3 {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
}
.fast-nav-bd {
	display: none;
	width: 282px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	background-color: #fff;
}
.fast-item-hot {
	padding-top: 4px;
}
.fast-nav-bd-on {
	box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
}
.fast-nav-bd-on .fast-nav-panel {
	box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
}
.nav-item-group {
	border: 1px solid #d4d2d3;
	border-top: 0;
	border-bottom: none;
}
.fast-nav-title {
	position: relative;
	z-index: 2;
	margin: -1px 15px;
	height: 26px;
	padding: 10px 20px 10px 70px;
	background-color: #fff;
	border-top: 1px solid #dedfdf;
	border-bottom: 1px solid #dedfdf;
	font-size: 16px;
	color: #666;
	line-height: 26px;
	cursor: default;
}
.fast-nav-title h3 {
	font-weight: normal;
	font-size: 16px;
}
.fast-nav-title .fn-icon {
	position: absolute;
	left: 28px;
	top: 15px;
	width: 24px;
	height: 24px;
	background: url(../images/icon.png) no-repeat;
	overflow: hidden;
}
.fast-nav-title .fn-arrow {
	position: absolute;
	right: 15px;
	top: 18px;
	width: 5px;
	height: 9px;
	background: url(../images/icon.png) no-repeat -69px -81px;
	overflow: hidden;
	display: none;
}
.fast-item-hot .fn-icon {
	background-position: 0 0;
}
.fast-item-season .fn-icon {
	background-position: 0 -42px;
	top: 11px;
}
.fast-item-internal .fn-icon {
	background-position: 0 -95px;
}
.fast-item-international .fn-icon {
	background-position: 0 -139px;
}
.fast-item-around .fn-icon {
	background-position: 0 -186px;
}
.fast-item-play .fn-icon {
	background-position: 0 -235px;
}
.fast-item-service .fn-icon {
	background-position: 0 -280px;
}
.fast-item-activity .fn-icon {
	background-position: 0 -328px;
}
.fast-item-hot .fast-nav-title {
	border-top: 0;
	margin-top: 0;
	margin-left: 15px;
	margin-right: 15px;
}
.fast-item-activity .fast-nav-title {
	border-bottom: 0;
	margin-bottom: 0;
}
.fast-nav-wrap .item-active .fast-nav-title {
	margin-right: -1px;
}
.item-active .fast-nav-title .fn-arrow {
	display: block;
}
.fast-nav-wrap .item-active .fast-nav-panel {
	display: block;
}
.fast-nav-panel {
	position: absolute;
	left: 281px;
	top: 0px;
	background-color: #fff;
	display: none;
	_overflow: hidden;
}
.fast-nav-panel a {
	color: #666;
}
.fast-nav-panel a:hover {
	color: #FF9500;
}
.fast-nav-panel .inner {
	border: 1px solid #d2d2d2;
	border-top: 0;
	width: 352px;
	height: 435px;
}
.fast-nav-panel .cover-img {
	position: absolute;
}
.fast-nav-panel .cover-link {
	display: block;
	width: 100%;
	height: 100%;
}
.fast-nav-panel .cover-img a:focus {
	outline: none;
}
.fast-nav-panel .panel-content {
	position: absolute;
	margin-left: -1px;
	padding: 15px 0;
	width: 100%;
}
.fast-nav-panel h4 {
	margin: 0 20px 15px;
	font-size: 16px;
	color: #1FA48E;
	font-weight: normal;
}
.fast-nav-panel h4 a {
	font-size: 16px;
	color: #1FA48E;
	font-weight: normal;
}
.fast-item-hot {
*zoom:1;
}
.fast-item-hot .fast-nav-panel .inner {
	width: 503px;
	height: 378px;
	height: 379px\9;
}
.fast-item-hot .panel-content {
	width: 500px;
}
.fast-item-play .panel-content {
	width: 500px;
}
.fast-item-hot .panel-content ul, .fast-item-play .panel-content ul {
	margin: 20px 0 20px 20px;
}
.fast-item-hot .panel-content li {
	margin: 10px 0;
}
.fast-nav-panel .link {
	padding-left: 10px;
	background: url(/images/header/header_v2/head_sprites4.png) no-repeat -94px -25px;
}
.fast-nav-panel .link a {
	text-decoration: underline;
}
.fast-item-hot .panel-content .link {
	margin-top: 20px;
}
.fast-item-hot .sub-category li {
	margin-bottom: 10px;
}
.fast-item-hot .sub-category li dl {
	width: 110px;
}
.fast-item-hot .sub-category li dt {
	font-weight: normal;
}
.fast-item-hot .sub-category li dt {
	margin-bottom: 0;
	padding-left: 10px;
}
.fast-item-hot .cover-img {
	left: 1px;
	top: 0;
	width: 650px;
	height: 445px;
	background: url(/images/header/header_v2/img-nav-hot43.png) no-repeat;
}
.fast-item-hot .sub-category li dl.third {
	width: 230px;
}
.fast-item-hot .sub-category li dl.third dt {
	background: none;
}
.fast-item-hot .sub-category li dl.third a {
	font-size: 12px;
}
.fast-item-play .fast-nav-panel .inner {
	width: 503px;
	height: 378px;
	height: 379px\9;
}
.fast-item-play .cover-img {
	left: 1px;
	top: 0;
	width: 562px;
	height: 432px;
	background: url(/images/header/header_v2/img-nav-sales8.png) no-repeat;
}
.fast-item-play .sub-category li {
	margin-bottom: 10px;
}
.fast-item-play .panel-content li em {
	font-style: normal;
	color: #f75e13;
}
.fast-item-play .panel-content li strong {
	padding-right: 10px;
	font-size: 16px;
	color: #f75e13;
}
.fast-item-play .sub-category li dl {
	width: 450px;
}
.fast-item-play dd {
	width: 125px;
	float: left;
}
.fast-item-play span {
}
.fast-item-season .fast-nav-panel .inner {
	width: 503px;
	height: 378px;
	height: 379px\9;
}
.fast-item-season .panel-content {
	width: 290px;
}
.fast-item-season .sub-category li {
	margin-bottom: 10px;
}
.fast-item-season .rank-num {
	float: left;
	width: 30px;
	font-size: 20px;
	font-family: Letter Gothic Std, Verdana, Geneva, sans-serif;
	text-align: right;
	color: #aaa;
	font-weight: bold;
}
.fast-item-season .top3 .rank-num, .fast-item-season .top3 strong a {
	color: #1FA48E;
}
.fast-item-season strong {
	padding: 0 15px;
	font-size: 14px;
	font-weight: normal;
	color: #666;
}
.fast-item-season strong a {
	color: #666;
}
.fast-item-season .sub-category {
	margin: 20px 0;
}
.fast-item-season .sub-category li {
	margin-bottom: 4px;
	overflow: hidden;
*zoom:1;
}
.sub-category {
	margin: 20px;
}
.sub-category li {
	margin-bottom: 20px;
	overflow: hidden;
*zoom:1;
}
.sub-category li dl {
	display: inline;
	float: left;
	width: 160px;
	margin-right: 10px;
}
.sub-category li dt, .sub-category li dd {
	margin-bottom: 10px;
	padding-left: 10px;
}
.sub-category li dt {
	background: url(/images/header/header_v2/head_sprites4.png) no-repeat -96px 4px;
	font-weight: bold;
	font-size: 14px;
}
/* sign-in robot */
.fast-item-season .cover-img {
	left: 2px;
	top: 0px;
	width: 650px;
	height: 379px;
	background: url(/images/header/header_v2/img-nav-season1.jpg) no-repeat left bottom;
}
.fast-item-internal .fast-nav-panel .inner, .fast-item-international .fast-nav-panel .inner, .fast-item-around .fast-nav-panel .inner {
	width: 630px;
	height: 378px;
	height: 379px\9;
}
.fast-item-internal .panel-content, .fast-item-international .panel-content, .fast-item-around .panel-content {
	position: static;
	padding-bottom: 0;
}
.fast-item-internal dl, .fast-item-international dl, .fast-item-around dl {
	margin: 0 0 0 20px;
	padding-left: 60px;
	line-height: 22px;
}
.fast-item-internal dt, .fast-item-international dt, .fast-item-around dt {
	float: left;
	display: inline;
	width: 60px;
	height: 22px;
	margin: 3px 0 3px -60px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
.fast-item-internal dd, .fast-item-international dd, .fast-item-around dd {
	float: left;
	margin: 3px 10px 3px 0;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
}
.fast-nav-panel .more-link {
	float: right;
	color: #1FA48E;
	font-size: 12px;
}
.fast-nav-panel .more-link a {
	color: #1FA48E;
	text-decoration: underline;
	font-size: 12px;
}
.fast-nav-panel .panel-banner {
	margin: 20px 15px;
	text-align: center;
}
.fast-item-service .fast-nav-panel .inner {
	width: 503px;
	height: 378px;
	height: 379px\9;
}
.fast-item-service .cover-img {
	left: 1px;
	top: 0;
	width: 620px;
	height: 385px;
	background: url(/images/header/header_v2/img-nav-service35.png) no-repeat;
}
.fast-item-service .panel-content {
	width: 500px;
}
.fast-item-service .sub-category dl {
	width: 130px;
}
.fast-item-activity .fast-nav-panel .inner {
	width: 503px;
	height: 378px;
	height: 379px\9;
}
.fast-item-activity .panel-content {
	width: 380px;
}
.fast-item-activity .sub-category {
	margin-right: 0;
	margin-bottom: 0;
}
.fast-item-activity .cover-img {
	right: -74px;
	bottom: -48px;
	width: 578px;
	height: 427px;
	background: url(/images/header/header_v2/img-nav-app10.png) no-repeat;
}
.fast-item-activity .cover-img .link-download {
	position: absolute;
	right: 88px;
	bottom: 40px;
}
.fast-item-activity .cover-img .link {
	display: block;
}
.hansa_logo {
	display: inline-block;
	width: 92px;
	height: 14px;
	background: url(/images/da/hansa.gif) no-repeat;
	line-height: 200px;
	overflow: hidden;
	vertical-align: -2px;
*vertical-align:middle;
}
.hide {
	display: none;
}
/* footer */
.mdd_dh {
	clear: both;
	width: 980px;
	margin: 10px auto 0;
	border-top: 1px solid #E0E0E0;
}
.mdd_dh .mdh_tt {
	padding: 14px 0 0 6px;
	color: #666666;
	font-weight: bold;
}
.mdd_dh .mdh_li {
	padding: 10px 0 0 6px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
}
.mdd_dh .mdh_li li {
	width: 96px;
	height: 20px;
	overflow: hidden;
	float: left;
}
.mdd_dh .mdh_li li a {
	color: #666666;
}
.mdd_dh .mdh_li li a:hover {
	color: #9B5218;
	text-decoration: underline;
}
.backtop {
	position: fixed;
	margin-top: -50px;
	right: 3%;
	top: 100%;
	z-index: 9999;
}
.backtop a {
	width: 48px;
	height: 48px;
	display: block;
	background: url(/images/home/backtop.gif) 0 0 no-repeat;
	line-height: 200px;
	overflow: hidden;
	border-radius: 5px;
}
.right-main {
	width: 700px;
	margin-left: 20px;
}
.fast-search .fast-search-tit {
	color: #1FA48E;
	line-height: 35px;
	margin-left: 25px;
	font-size: 18px;
}
.fast-search .fast-search-inputBox {
	background: #379b81;
	border-bottom: 1px solid #707070;
	border-right: 1px solid #707070;
	width: 552px;
	height: 28px;
	margin: 0 0 0px 139px;
	padding: 4px;
	position: relative;
	border-radius: 3px;
}
.t_input {
	background: #ffffff;
	width: 272px;
	height: 28px;
	border: none;
	border-bottom: 1px solid #707070;
	border-right: 1px solid #707070;
	padding: 0 10px;
	margin-right: 1px;
	font-size: 14px;
}
.t_select {
	width: 107px;
	height: 29px;
	color: #808080;
	position: relative;
	top: -1px;
	margin: 0 2px;
	padding:5px 0;
}
#slides {
	position: relative;
}
#slides .next, #slides .prev {
	width: 18px;
	height: 18px;
	display: block;
	z-index: 101;
	position: absolute;
	bottom: 13px;
	right: 48px;
	overflow:hidden;
}

.slides_container {
	width: 700px;
	height: 360px;
	overflow: hidden;
	position: relative;
}
#slides img {
	border-radius: 3px;
}
#slides .next {
	right: 20px;
}
#gl .next , #gl .prev {
	width: 18px;
	height: 18px;
	display: block;
	z-index: 101;
	overflow:hidden;
	position: absolute;
	bottom: 0px;
	right: 38px;
}
#gl .next img , #gl .prev img {
	margin-top:-23px;
}
#gl .next {
	right: 10px;
}
.pagination {
	width: 100px;
	position: absolute;
	bottom: 17px;
	right: 22px;
	z-index: 10;
}
.pagination li {
	float: left;
	margin: 0 1px;
}
.pagination li a {
	display: block;
	width: 7px;
	height: 0;
	padding-top: 7px;
	background-image: url(../images/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.pagination li.current a {
	background-position: 0 -12px;
}
.caption {
	position: absolute;
	bottom: 0px;
	height: 83px;
	padding: 22px 20px 0 20px;
	background: #000;
	background: rgba(0,0,0,.5);
	width: 660px;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	border-top: 1px solid #000;
	text-shadow: none;
	font-family: "微软雅黑";
	border-radius: 0 0 10px 10px;
}
.caption span {
	margin-right: 20px;
	font-size: 18px;
}
.gl-cw .pagination {
	bottom:4px;
	right:17px;
}
.gl-cw .pagination li {
	margin:0px 1px;
}
.gl-cw .pagination li a {
	background-position: 0 -37px;
}
.gl-cw .pagination li.current a {
	background-position:0 -24px;
}
.x-line {
	height: 1px;
	background: #d9d9d9;
	overflow: hidden;
	margin: 20px 0;
}
.gl-list {
	padding: 0 0 0 12px;
}
.gl-cw {
	position:relative;
	padding:0px 0 20px 0;
	margin-left:10px;
}
.gl-tag {
	position:relative;
	overflow:hidden;
	height:230px;
	width:677px;
}
.gl-b {
	position:relative;
	height:40px;
}
.gl-cw li {
	float: left;
	overflow: hidden;
	margin-right: 18px;
}
.gl-option {
	margin: 5px 0 0 3px;
}
.gl-place {
	color: #196189;
	font-size: 14px;
}
.gl-place a {
	color: #196189;
}
.gl-time {
	color: #4d4d4d;
	font-size: 14px;
}
.story-list {
	border-bottom:1px solid #D9D9D9;
}
.story-nav {
	position:relative;
	height:30px;
	font-size: 18px;
	color:#1FA48E;
}
.story-nav .fn-t-icon {
	background-position:0 -52px;
	width:25px;
	height:20px;
	margin-right:4px;
}
.story-btn {
	float:right;
	margin:-34px 0 5px 0;
}
.story-btn .next {
	margin-left:7px;
}
.story-item {
	color: #666666;
	border-bottom:1px solid #D9D9D9;
	overflow:hidden;
	padding:27px 15px;

}
.story-item:last-child { 
 	border:none;
 }
.story-item a {
	color: #FFAA00;
}
.story-item .pic {
	display: inline;
	float: left;
	height: 124px;
	position: relative;
	width: 185px;
}

.story-item .pic a {
	display: block;
	height: 125px;
	overflow: hidden;
	width: 185px;
}
.story-item .pic img {
	vertical-align: middle;
}
.story-item .story-area {
	float: left;
	margin-left: 20px;
	width: 460px;
}
.story-item .cf img {
	border-radius: 20px;
}
.story-item .cf-info {
	margin-left: 15px;
	line-height:22px;
}
.story-item h2 {
	font-size: 16px;
	font-weight: normal;
	overflow: hidden;
}
.story-item .post-xx {
	color: #666666;
	font-size: 12px;
}
.story-item h2 a {
	color: #000000;
	font-size: 16px;
}
.story-item .story-info {
	font-size: 12px;
	line-height: 24px;
	padding-top: 5px;
	width: auto;
	color: #808080;
}
.story-item .v-info a {
	color: #1FA48E;
	font-size: 12px;
	text-align: right;
	float: right;
}
.story-item .r-like {
	color:#808080;
	font-size:12px;
}
.story-item .start {
	width: 16px;
	height: 14px;
	vertical-align: middle;
	margin-right:10px;
	background-position:-64px -32px;
}
.c-red {
	color:#de7464;
	}
.t1 {
	font-size:12px;
	margin:0 0 0 15px;
}
.hot-blogs {
	border:1px solid #cccccc;
	width:100px;
	line-height:26px;
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
	color:#000;
	z-index:10;
	background:#fff;
}
.hot-blogs .hot-blogs-value {
	display:inline-block;
	padding:0 12px;
	width:76px;
	cursor:pointer;
	color:#000;
	text-decoration:none;
}

.hot-blogs .arrow {
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #666666 transparent transparent transparent;
	position:absolute;
	top:12px;
	right:12px;
	cursor:pointer;
}
.hot-blogs-list {
	border-top:1px solid #cccccc;
	width:100px;
	display:none;
}
.hot-blogs-list li {
	text-indent:15px;
	cursor:pointer;
	border-bottom:1px solid #cccccc;
}
.hot-blogs-list li:last-child {
	border-bottom:none; 
}
.destine-tab {
	position:relative;
	height:35px;
	overflow:hidden;
}
.destine-tab li {
	float:left;
	height:35px;
	line-height:35px;
	position:absolute;
	cursor:pointer;
	width:75px;
	text-indent:30px;
}
.destine-tab li.flight {
	width:85px;
	border-radius:0 25px 0 0;
	z-index:4;
	left:0;
	text-align:center;
	text-indent:0px;
	background:#c8c8c8;
	color:#000;
}
.destine-tab li.hotel {
	background:#c8c8c8;
	border-radius:0 25px 0 0;
	color:#000;
	z-index:3;
	left:65px;
	}
.destine-tab li.soFa {
	background:#d6d6d6;
	border-radius:0 25px 0 0;
	color:#666666;
	z-index:2;
	left:119px;
	}
.destine-tab li.mate {
	background:#ffffff;
	border-radius:0 25px 0 0;
	color:#808080;
	z-index:1;
	left:174px;
	border-top:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
}
.destine-tab li.cur {
	color:#fff;
	background:#20ab96;
	border:none;
}
.destine-tab li.cur0 {
	background:#d6d6d6;
	color:#666666;
	}
.destine-tab li.cur1 {
	background:#fff;
	color:#808080;
	}
.destine-list {
	background:#1fa993;
	border-radius:0px 3px 3px 3px;
	padding-bottom:20px; 
}
.destine-box {
	display:none;
	height:420px;
}
.destine-box img {
	text-align:center;
	margin:0 auto;
	display:block;
	padding:50px 0 60px 0;
}
.destine-box img.hotel-img {
	padding: 50px 0 52px;
}
.destine-box img.soFa-img {
	padding: 50px 0 78px;
}
.destine-box img.mate-img {
	padding: 50px 0 67px;
}
.search-list {
	padding:0 20px;
}
.search-out {
	background:#fff;
	width:237px;
	height:34px;
	line-height:34px;
	border:1px solid #a4adab;
	margin-bottom:10px;
}
.search-out input {
	background:#fff;
	border:none;
	height:34px;
	line-height:34px;
	width:188px;
	padding:0 10px; 
	font-size:14px;
}
.search-out .search-time {
	background:#fff url(../images/arrow.png) no-repeat 0 center;
	padding:0 5px 0 36px;
	width:167px;
}
.ok-btn {
	background:#e89930;
	width:237px;
	height:53px;
	line-height:53px;
	color:#fff;
	display:block;
	font-size:16px;
	text-align:center;
	border:1px solid #a4adab;
}
.time-icon { 
	background-position:0 -53px;
	width:15px;
	height:16px;
	vertical-align:middle;
	position:relative;
	top:-2px;
}
.place-icon { 
	background-position:-19px -53px;
	width:11px;
	height:19px;
	vertical-align:middle;
	position:relative;
	top:-2px;
}
.box-5 {
	height:199px;
	border:1px solid #808080;
	border-radius:3px;
}
.a-calendar .a-calendar-title {
	background:#20ab96;
	font-size:22px;
	color:#fff;
	height:48px;
	line-height:48px;
	text-align:center;
}
.a-calendar-btn {
	background:#36b29e;
	width:44px;
	height:48px;
	display:inline-block;
}
.a-calendar-prev, .a-calendar-next {
	background-position: -32px -53px;
	display:inline-block;
	width:14px;
	height:13px;
	margin-top:19px;
}
.a-calendar-next {
	background-position:-48px -53px; 

}
.a-calendar-tab thead td {
	background:#414244;
	height:22px;
	line-height:22px;
	color:#fff;
	text-align:center;
	border-bottom:1px solid #cbcdcc;
}
.a-calendar-tab tbody td{
	background:#f5f5f5;
	text-align:center;
	height:38px;
	color:#000;
	background:#f5f5f5;
}
.a-calendar-tab .b1 {
	background:#454648;
	border-left:1px solid #494a4c;
	border-right:1px solid #494a4c;
}
.a-calendar-tab .b2 {
	background:#e6e6e6;
}
.a-calendar-tab .b3 {
	background:#d9d9d9;
}
.hot-recommend h3 {
	font-size:16px;
	color:#4d4d4d;
}
.hot-recommend-list {
	color:#808080;
	line-height:22px;
}
.hot-recommend-list li {
	margin:19px 0;
}
.hot-recommend-list li h4 {
	color:#000;
	margin-bottom:10px;
	}
.hot-recommend-list .hot-recommend-list-info {
	width:170px;
	margin-right:20px;
}
.hot-box {
	padding:0 0 0 15px;
}
.hot-spoils-other li { 
	float:left;
	margin:0px 20px 0px 0;
}
.hot-spoils h3 {
	font-size:16px;
	color:#4d4d4d;
	margin-bottom:20px;
}
.hot-spoils .hot-spoils-big {
	width:245px;
	margin-right:20px;
}
.hot-spoils .hot-spoils-big .hot-spoils-big-x  {
	background: url(../images/x_d_line.png) repeat-x 0 bottom ;
	margin-bottom:5px;
	}
.hot-spoils .hot-spoils-big .hot-spoils-name {
	 color:#42210b;
	 font-size:14px;
	 height:32px;
	 line-height:32px;
	 display:inline-block;
} 
.hot-spoils .hot-spoils-big .hot-spoils-name a {
	 color:#42210b;
}
.hot-spoils-big-bottom {
	padding:0 15px;
}
.hot-spoils .hot-spoils-big .hot-spoils-price {
	color:#666666; 
	height:32px;
	line-height:32px;
	display:inline-block;
}
.hot-spoils-big-bottom {
	height:80px;
	background:#ededed;
}
.hot-spoils .hot-spoils-w270 {
	width:270px;
}
.hot-spoils-w270 ul {
	margin-top:-24px;
}
.hot-spoils-w270 ul li {
	margin-top:24px;
}
.hot-spoils .hot-spoils-other .hot-spoils-other-bottom {
	height:25px;
	line-height:25px;
	color:#42210b;
	text-align:center;
	background:#ededed;
}
.hot-spoils .hot-spoils-other .hot-spoils-other-bottom a {
	color:#42210b;
}

.f-maret h3 {
	font-size:18px;
	color:#1faa94;
}
.f-maret .fn-t-icon {
	background-position:0 -76px;
	width:20px;
	height:24px;
	margin-right:10px;
}
.f-maret ul {
	padding:0 0 0 30px;
	margin:20px 0 20px 0
}
.f-maret ul li {
	height:26px;
	line-height:26px;
	color:#666666;
	font-size:14px;
}
.f-maret ul li a {
	color:#666666;
}
.f-maret .more {
	background:#dd7464;
	border-radius:3px;
	width:44px;
	height:18px;
	line-height:18px;
	color:#fff;
	display:inline-block;
	text-indent:0px;
	text-align:center;
	margin-left:28px;
}
.o-website {
	padding:0 0 0 30px;
}
.o-website p.o-website-title {
	color:#de7464;
	font-size:14px;
	text-align:center;
	margin-top:10px;
}
.advert-2 {
	padding-left:30px;
}
.blue1 {
	color: #196189;
}