@charset "utf-8";
.m-top {
	background: url(../images/m_bg.jpg) no-repeat center 0;
	width: 1280px;
	height: 460px;
	position: relative;
}
.t-arrow {
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	bottom: 0px;
	left:408px;
}
.t-arrow.cur {
	left: 624px;
}
.login-btn, .reg-btn, .view-btn, .reg-ok-btn, .login-ok-btn, .weibo-btn, .qq-btn, .rr-btn, .dou-btn, .f-btn, .t-btn, .g-btn {
	background: url(../images/m_btn.png) no-repeat 0 0;
	display: inline-block;
	text-indent: -999em;
}
.login-btn {
	width: 176px;
	height: 42px;
}
.reg-btn {
	background-position: 0 -47px;
	width: 176px;
	height: 42px;
}
.view-btn {
	background-position: 0 -94px;
	width: 176px;
	height: 42px;
}
.weibo-btn {
	background-position: 0 -235px;
	width: 176px;
	height: 42px;
}
.qq-btn {
	background-position: 0 -282px;
	width: 176px;
	height: 42px;
}
.rr-btn {
	background-position: 0 -335px;
	width: 24px;
	height: 24px;
}
.dou-btn {
	background-position: -38px -335px;
	width: 24px;
	height: 24px;
}
.f-btn {
	background-position: -76px -335px;
	width: 24px;
	height: 24px;
}
.t-btn {
	background-position: -115px -335px;
	width: 24px;
	height: 24px;
}
.g-btn {
	background-position: -152px -335px;
	width: 24px;
	height: 24px;
}
.m-box-btn {
	margin: 0 auto;
	width: 610px;
	padding: 380px 0 0 0;
}
.m-box-btn .login-btn, .m-box-btn .reg-btn {
	margin-right: 40px;
}
.m-list {
	padding: 40px 0 40px 290px;
}
.m-list h4 {
	margin-bottom: 10px;
	color: #B8B8B8;
}
.m-list h4 img {
	vertical-align: middle;
	margin-right: 15px;
}
.m-list .t-input {
	width: 290px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #cdcdcd;
	color: #727272;
	font-size: 14px;
	padding: 0 20px;
}
.m-list input.code-input {
	padding-right: 130px;
	width: 180px;
}
.m-list .t-input.w-284 {
	width: 244px;
}
.m-tab {
	display: none;
}
.check-input {
	vertical-align: middle;
	margin-right: 5px;
}
.m-list .item {
	margin-bottom: 14px;
	position: relative;
	width: 332px;
}
.reg-list, .login-list {
	border-right: 1px solid #d3d3d3;
	padding-right: 42px;
}
.refresh {
	background-position: -19px -130px;
	width: 21px;
	height: 20px;
	vertical-align: middle;
	position: absolute;
	right: 10px;
	top: 11px;
}
.code-img {
	position: absolute;
	right: 35px;
	top: 1px;
}
.reg-ok-btn {
	background-position: 0px -140px;
	width: 333px;
	height: 45px;
}
.login-ok-btn {
	background-position: 0px -188px;
	width: 333px;
	height: 45px;
}
.item .reg-ok-btn, .item .login-ok-btn {
	margin-top: 5px;
}
.invite, .other {
	margin-left: 42px;
	color: #B8B8B8;
	position: relative;
}
.invite .yq-t {
	font-size: 18px;
	color: #1fccaf;
	margin-right: 10px;
}
.send-btn {
	background: #1fccaf;
	width: 70px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
}
.send-btn:hover {
	text-decoration: none;
}
.invite .send-btn {
	margin-left: 216px;
}
.item a {
	color: #B8B8B8;
}
.other-way a {
	float: left;
	margin-right: 15px;
}
.or {
	position: absolute;
	left: -48px;
	top: 112px;
	background: #fff;
	height: 24px;
	line-height: 24px;
	width: 20px;
}
